<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<ul>
    <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/admin}">Admin</a></li>
    <li sec:authorize="hasAnyAuthority('COORDENADOR','ADMIN')"><a th:href="@{/servidor}">Servidor</a></li>
    <li sec:authorize="hasAuthority('PROFESSOR')"><a th:href="@{/professores}">Professores</a></li>
    <li sec:authorize="hasAuthority('ESTUDANTE')"><a th:href="@{/alunos}">Alunos</a></li>
</ul>
</body>
</html>
